* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(189, 189, 189, 0.9);
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.3rem;
  padding: 2rem 3rem;
  border: 1px solid black;
  max-width: 30rem;
  background-color: #fff;
}

.modal-btn {
  color: #fff;
  background-color: #212121;
  padding: 0.6rem 1.2rem;
  margin-top: 14px;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  cursor: pointer;
  transform: scale(0.9);
}

.modal-btn:hover {
  color: #212121;
  background-color: #fff;
}

p {
  font-size: 16px;
  padding: 10px;
  padding-left: 0px;
}
